<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>Carlo Ancelotti</string>
			<key>position</key>
			<string>Coach</string>
			<key>avatar</key>
			<string>CarloAcelotti.jpg</string>
			<key>image</key>
			<string>CarloAcelotti@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zinedine Zidane</string>
			<key>position</key>
			<string>Assistant coach</string>
			<key>avatar</key>
			<string>ZinedineZidane.jpg</string>
			<key>image</key>
			<string>ZinedineZidane@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Paul Clement</string>
			<key>position</key>
			<string>Assistant coach</string>
			<key>avatar</key>
			<string>PaulClement.jpg</string>
			<key>image</key>
			<string>PaulClement@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Giovanni Mauri</string>
			<key>position</key>
			<string>Head fitness coach</string>
			<key>avatar</key>
			<string>GiovanniMauri.jpg</string>
			<key>image</key>
			<string>GiovanniMauri@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Villiam Vecchi</string>
			<key>position</key>
			<string>Goalkeeper coach</string>
			<key>avatar</key>
			<string>VilliamVecchi.jpg</string>
			<key>image</key>
			<string>VilliamVecchi@2x.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Casillas</string>
			<key>position</key>
			<string>Goalkeeper</string>
			<key>avatar</key>
			<string>Casillas.jpg</string>
			<key>image</key>
			<string>Casillas@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jesús Fdez</string>
			<key>position</key>
			<string>Goalkeeper</string>
			<key>avatar</key>
			<string>Jesusfdez.jpg</string>
			<key>image</key>
			<string>Jesusfdez@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diego López</string>
			<key>position</key>
			<string>Goalkeeper</string>
			<key>avatar</key>
			<string>DiegoLopez.jpg</string>
			<key>image</key>
			<string>DiegoLopez@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sergio Ramos</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>SergioRamos.jpg</string>
			<key>image</key>
			<string>SergioRamos@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pepe</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>Pepe.jpg</string>
			<key>image</key>
			<string>Pepe@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Varane</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>Varane.jpg</string>
			<key>image</key>
			<string>Varane@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arbeloa</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>Arbeloa.jpg</string>
			<key>image</key>
			<string>Arbeloa@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carvajal</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>Carvajal.jpg</string>
			<key>image</key>
			<string>Carvajal@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coentrão</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>Coentrao.jpg</string>
			<key>image</key>
			<string>Coentrao@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marcelo</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>Marcelo.jpg</string>
			<key>image</key>
			<string>Marcelo@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nacho</string>
			<key>position</key>
			<string>Defender</string>
			<key>avatar</key>
			<string>Nacho.jpg</string>
			<key>image</key>
			<string>Nacho@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alonso</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>Alonso.jpg</string>
			<key>image</key>
			<string>Alonso@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Khedira</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>Khedira.jpg</string>
			<key>image</key>
			<string>Khedira@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Illarra</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>Illarra.jpg</string>
			<key>image</key>
			<string>Illarra@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Isco</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>Isco.jpg</string>
			<key>image</key>
			<string>Isco@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bale</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>Bale.jpg</string>
			<key>image</key>
			<string>Bale@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Casemiro</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>Casemiro.jpg</string>
			<key>image</key>
			<string>Casemiro@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Modric</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>Modric.jpg</string>
			<key>image</key>
			<string>Modric@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Di María</string>
			<key>position</key>
			<string>Midfielder</string>
			<key>avatar</key>
			<string>DiMaria.jpg</string>
			<key>image</key>
			<string>DiMaria@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ronaldo</string>
			<key>position</key>
			<string>Forward</string>
			<key>avatar</key>
			<string>Ronaldo.jpg</string>
			<key>image</key>
			<string>Ronaldo@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Benzema</string>
			<key>position</key>
			<string>Forward</string>
			<key>avatar</key>
			<string>Benzema.jpg</string>
			<key>image</key>
			<string>Benzema@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Morata</string>
			<key>position</key>
			<string>Forward</string>
			<key>avatar</key>
			<string>Morata.jpg</string>
			<key>image</key>
			<string>Morata@2x.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jesé</string>
			<key>position</key>
			<string>Forward</string>
			<key>avatar</key>
			<string>Jese.jpg</string>
			<key>image</key>
			<string>Jese@2x.png</string>
		</dict>
	</array>
</array>
</plist>
