<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Real Madrid has scored the most goals of any of the eight teams still left in the competition.</string>
		<key>content</key>
		<string>
			0f the 32 teams at the beginning of this season&apos;s Champions League only eight remain in the competition. Real Madrid has scored the most goals of any side to have reached the quarter-final stage of the competition, having scored 29 times in the eight matches they have played in so far this season.

			The Whites have scored in every match and have racked up an average of more than three goals per game (3.6). It has been away from home, against Galatasaray and Schalke 04, that the team has scored its highest tally of goals, getting six on both occasions. In the Bernabéu, against Copenhaguen and Galatasaray, they found the back of the net four times in each encounter.

			The statistics for the rest of the quarter-finalists 
			PSG is the second highest scoring team in the competition, with 22 goals so far. Following the French side is Atlético Madrid, Barcelona and Bayern Munich, who have all scored 20 goals. Borussia Dortmund have scored 16 times while Chelsea and Manchester United have racked up 15 goals a piece.
		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ancelotti: “I&apos;m happy with the result but the second leg won&apos;t be easy”</string>
		<key>content</key>
		<string>
			“The match in general was very good, we had possession and were clinical up front”, added the Italian coach.
			Ancelotti made no attempt to hide his satisfaction at his team&apos;s performance against Borussia Dortmund. The Whites&apos; coach analysed the 3-0 victory in the Santiago Bernabéu: “I&apos;m happy with the result, the match and the team&apos;s attitude. It wasn&apos;t an easy match, we started it well, in the second half we reduced the tempo a little. Dortmund had a good attitude, above all on the counter. It is a very dangerous team. The second leg won&apos;t be easy”.

			“We did what we practised well. We pressured up front and played with intensity. We had possession of the ball and were clinical. I&apos;m happy. In the first half we played with great intensity and energy and in the second we sat back a bit to play a little more on the counter. The atmosphere was very good”.

			The second leg
			“Borussia proved that they are a quality team and that they will try to turn the result around. They will try everything to come back. We have to be alert and play like we did in this match. If we play like today we&apos;ll reach the semi-finals. Touch all the wood in the world, I don&apos;t like talking about the semis yet. They are setting a trap for the second leg and we have to be prudent and avoid it”.

			Cristiano Ronaldo&apos;s niggle
			“It&apos;s a slight knee problem and I&apos;m not worried about it. If the niggle, which at the moment is not a worry, continues we can rest him, but the player is relaxed. I took him off 10 minutes before the end and there is no reason to worry.
		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Isco: &quot;It&apos;s a magnificent result&quot;</string>
		<key>content</key>
		<string>
			“The defence were a ten out of ten and the 3-0 is more than deserved”, commented the Andalusian. 
			Isco scored the second goal of the match against Borussia Dortmund and he spoke to the press after the final whistle: “It&apos;s a magnificent result. We&apos;re happy with 3-0, with keeping a clean sheet and taking a step towards the semi-finals. Pepe and the whole defence were a ten out of ten. The result is more than deserved and we take a significant lead into the second leg”.

			“I&apos;d like to thank the Santiago Bernabéu for the ovation and the support they gave us during the match. I was a little surprised to play, Di María came down with something, but you have to be prepared and that&apos;s what happened. I have to show people and the coach that I can play in any system and position and I&apos;m happy”.

			The second leg
			&quot;You never know in football. Nobody imagined the Real Madrid result there last year. We&apos;re going to play like we always do and we hope to be in the semi-finals. Seedorf was a great player of course, but I&apos;m just Isco&quot;.
		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Pepe, 50 Champions League matches with Real Madrid</string>
		<key>content</key>
		<string>
			The defender has won 31 of those games with the Whites.
			Real Madrid is well on its way to becoming one of the top four teams in the Champions League after beating Borussia Dortmund in the first leg of the tournament&apos;s quarter-finals. It was a special match for Pepe, for whom the match against the Germans was his 50th with the Whites in Europe&apos;s top competition in his seventh season with the club.

			The Portuguese star, who signed in the 2007/2008 season, has played more games for the Whites in the competition than any other player in the squad, bar Casillas (136) and Sergio Ramos (70). Pepe, who made his Champions League debut with the Whites against Werder Bremen, has enjoyed 31 victories (62%) in these 50 games. In total in the competition, including his participation with Porto, he has played 68 matches with 35 wins.
		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Cristiano Ronaldo scored in his 100th Champions League game</string>
		<key>content</key>
		<string>
			The Real Madrid forward equalled the record of 14 goals in one edition of a European Cup with his strike against Borussia.

			Cristiano Ronaldo continues to make history in every competition he takes part in. This time it was the turn of the Champions League. The striker was playing in his 100th game in the competition against Borussia Dortmund. He has reached the figure after 52 matches with Manchester United and 48 with Real Madrid.

			In addition, Ronaldo found the net in his century game, bagging the Whites&apos; third. The first Champions League match he played came on the 1st of October 2003, when Manchester United took on Stuttgart. He scored 15 goals in 52 matches with the English side, but his goal-rate increased exponentially when he arrive in Madrid. 
		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Modric: “It will be a tough game and it is crucial that we don&apos;t concede ahead of the second leg”</string>
		<key>content</key>
		<string>
			“We&apos;ll do our best to beat Borussia”, the Real Madrid central midfielder revealed.

			Luka Modric was the star in the Real Madrid City press room today. After his manager spoke to the press, the Croatian spoke about the team&apos;s motivation ahead of the first leg Champions League quarter-final tie: “We&apos;ll do our best to beat Borussia. It will be a tough match and it is crucial for the return leg that we don&apos;t concede. After the four games we played against them last season we know how dangerous they are on the break”.

			“Up until the two defeats, we had been enjoying a fantastic season. We are the same players and the same team. We are really motivated and have put last season behind us. We have to focus on tomorrow&apos;s match. We can&apos;t lose our heads just because we lost the last matches against them”.

			The importance of playing the first leg at home
			“It&apos;s all the same to me. I don&apos;t think it&apos;s an advantage to play the first leg at home. Last year we lost the first leg. We didn&apos;t expect there to be such a big difference and we were really close to going through in the second leg. We have to be focused during the game and do everything we can both in attack and in defence. I hope to be in the semifinals”.

			Eager for revenge
			“It is just another game against a very good side. We still remember the two games from last season, but tomorrow will be different. They have a lot of injuries and we could mistakenly think that it will be an easy encounter, but it will be a very tough game for us. We have more experience now and know what we could be up against. I hope that will help us during these two matches and allow us to qualify for the semifinals”.

			The threat posed by Borussia
			“We know how they play and that they are dangerous on the break. We have to careful when we lose the ball, tracking back quickly and putting pressure on them immediately to regain possession. They have a few pacey forwards. We have to stop their best players from playing and I&apos;m sure we can do that tomorrow”.
		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>22 years since Juanito&apos;s passing</string>
		<key>content</key>
		<string>
			During his 10 years with Real Madrid he won 2 UEFA Cups, 5 La Liga titles, 2 Copa del Reys and 1 League Cup.

			On the 2nd of April 1992 Real Madrid and Spanish footballing legend Juan Gómez Juanito was killed in a road accident. The tragedy occurred when he was returning to Mérida after watching the Whites play against Torino in the Santiago Bernabéu. Every since then, Real Madrid fans have constantly paid tribute to one of their most loved players and now his name is chanted in the seventh minute of every game in the Whites&apos; stadium.

			Juanito was 37 years of age and the manager of Mérida when he was killed. Born on the 10th of November 1954 in Fuengirola (Málaga), he played for Real Madrid from 1977 until 1987. He played 401 competitive matches, scored 121 goals and won 2 UEFA Cups, 5 La Liga titles, 2 Copa del Reys, 1 League Cup and was also awarded the top goal scorer trophy in the 1983/84 season.

			“Illa, illa, illa, Juanito Maravilla”
			Real Madrid&apos;s admiration for Juanito is evident in every match with this chant, which has now been turned into a tradition in the Bernabéu. Aside from his playing style, his showmanship and toughness, he is also remembered for some iconic moments in Real Madrid&apos;s history, such as his jumps for joy after the famous comeback against Borussia Mönchengladbach in the UEFA Cup.
		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Benzema: “We will give it our all to get through this round against Borussia Dortmund”</string>
		<key>content</key>
		<string>
			“The goal is to win all three titles and I think we can do it”, the striker said in an interview with UEFA.

			Karim Benzema gave an interview to UEFA in which he spoke about how things are currently going at the club as well as Real Madrid&apos;s exciting Champions League quarterfinal draw with Borussia Dortmund. “We have won nearly all our games in the tournament and the team feels good. We will give it our all to get through this round”, the Whites&apos; striker revealed.

			    How would you rate this season&apos;s Champions League so far?

			    Everything has gone well up until now. We&apos;ve qualified for the quarterfinals and are enjoying a good moment. We&apos;ve won nearly all our games and I think the team feels good.
			    Do you think that the difficulty posed by Borussia Dortmund has changed this year?

			    I think they still have the same players, but they&apos;ve had a lot of injuries this season. We have put what happened last season to the back of our minds and now we have a new team with a new mentality. We are not thinking about them, although they are a strong team. We will give it our all to get through this round.
			    What objectives has Carlo Ancelotti laid out for this season?

			    The goal is to win all three titles and I think we can do it. We have a good team, a strong enough squad to do it. He has brought stability to the team and that is important.
			    What is your opinion on the possibility of winning a tenth European Cup this year?

			    We have reached the semifinals for the last three years. We&apos;ve played in three consecutive semifinals. We are doing well this year. We still have to play a number of games to reach the final, but we are getting closer.
			    You make up part of an attacking trio with Bale and Ronaldo. How would you evaluate your partnership with them?

			    They are great players and we have a very good understanding of each other, both on and off the pitch. It is easy to play with players like them, who are skillful, fast and technical.
			    Does Real Madrid have the most dangerous attack left in the tournament?

			    I don&apos;t know. But we are a team, it is not all about us three forwards. We have the support of the whole squad. We play an attacking style of football and, like I said, we have great players in attack and its great for us to score loads of goals, which ultimately helps the team win games.
			    What is the key to the great moment you are currently enjoying?

			    The style of play, getting minutes in games and having confidence. That is what counts for a striker. That is all thanks to hard work and also a bit of good fortune.
			    You have scored 35 goals in 59 Champions League games. What do you like most about playing in this competition?

			    I don&apos;t know. I&apos;ve had a lot of success in it. Ever since I was a boy I&apos;ve liked the Champions League and I hope that continues. Playing games like this one helps me, above all else, with my confidence and gives me more experience in the competition, which I started playing in at 17 years of age. Now I&apos;m 26-years-old, so I&apos;ve almost played ten years in the competition. Every time I play in the Champions League is special. I love this competition.
			    What do you remember about your debut against Rosenborg and the goal you scored?

			    That was my first match, in Lyon, and was a long time ago. If I&apos;m not mistaken, Gérard Houllier was the manager. I remember that it was my first match in the competition and that I scored. John Carew crossed the ball from a wide position and I scored at the near post. That was my first Champions League goal. I was over the moon, I was only 17-years-old.
			    What goal would you have liked to score and what would be your ideal final this season?

			    A winning goal in the Champions League final. A final between Real Madrid and PSG, as it is a French side.


		</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Carvajal: &quot;When I hear the Champions League anthem I get goose bumps&quot;</string>
		<key>content</key>
		<string>
			“I&apos;m delighted with the amount of trust the manager has placed in me from day one”, the right back revealed in an interview with UEFA.

			Dani Carvajal gave an interview to UEFA in which he spoke about his return to Real Madrid, his first impressions of playing in the Champions League and his experiences of being in a youth academy of such high quality as that of the Whites. “It was like a dream. On top of that, it ended be a match we scored six in. I&apos;ll never forget it”, the Real Madrid defender said of his Champions League debut against Galatasaray.

		    How would you rate your return season to the club so far?

		    I have always been ambitious and have wanted to train and play more, but I am very happy with things at the moment. Especially because of the amount of trust the manager has placed in me from day one. The rotation with Arbeloa has been really good for both of us and the team, because we are both fresher. Now, with Álvaro injured, it looks as though I&apos;ll play more minutes, I hope to earn my place in the team, enjoy it and help the team achieve its goals.
		    What do you remember about your first Champions League match against Galatasaray?

		    It was like a dream, to think you are competing in the Champions League. When you&apos;re side-to-side with your team mates, listening to the Champions League anthem, it gives you goose bumps. On top of that, it was a great game, we scored six and I&apos;ll never forget it.
		    Over the course of your career, who have you linked up with best?

		    Because of the amount of years I&apos;ve spent playing with them, perhaps it would be Morata and Jesé. I also link up well with Arbeloa, we can understand each other with just a look.

		</string>
	</dict>
</array>
</plist>
